:root {
  --foreground: #0a0a0a;
  --background: #ffffff;
}

body {
  width: 100dvw;
  height: 100dvh;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-noto-sans-jp);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
